<header>
  <h5>
    <strong style="margin-right: 1rem">StimulusReflex</strong>
    <%= link_to "Todo", todos_path, style: "margin-right: 1rem"%>
    <%= link_to "Search", people_path, style: "margin-right: 1rem"%>
    <%= link_to "Message", messages_path, style: "margin-right: 1rem"%>
    <%= link_to "NoGood", '/nogood', style: "margin-right: 1rem"%>
    <%= link_to "Notes", '/note', style: "margin-right: 1rem"%>
  </h5>
</header>
